<md-card id="1{{card.id}}" class="mdcard-style" data-toggle="modal" [attr.data-target]="'#' + card.id">
    <p>{{card.title}}</p>
    <div class="time-tracking"
         *ngIf="!card.estimated == 0">
        <div class="row text-center">
            <div class="col title">ESTIMATED</div>
            <div class="col title">SPENT</div>
            <div class="col title">REMAINING</div>
        </div>
        <div class="row text-center">
            <i class="col">{{card.estimated}} days</i>
            <i class="col">{{card.spent}} days</i>
            <i class="col">{{card.remaining}} days</i>
        </div>
    </div>
        <div class="checks" *ngIf="cardTodos.length">
            <md-icon class="checks-icon">
                check_box
            </md-icon>
            <i class="checks-count">{{cardCompletedChecks.length}}/{{cardTodos.length}}</i>
        </div>
</md-card>
<!-- Modal -->
<div class="modal fade"
     id="{{card.id}}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog "
         role="document">
        <div class="modal-content modal-material">
            <md-card class="card-header">
                <!--     <button md-button
                             (click)="showCardTodos()">
                         <md-icon class="clear-icon">
                             list
                         </md-icon>
                         <span>Checklist</span>
                     </button>
                <button md-button type="button">
                    <md-icon class="clear-icon">
                        note_add
                    </md-icon>
                    <span>Files</span>
                </button>-->
                <button md-button
                        type="button"
                        (click)="showCardDatesTimes()">
                    <md-icon class="clear-icon">
                        access_time
                    </md-icon>
                    <span>Start/Due Date</span>
                </button>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <md-icon class="clear-icon">clear</md-icon>
                </button>
            </md-card>
            <div class="modal-body">
                <div class="change-title-description"
                     *ngIf="!cardTitle || !card.title "
                     (click)="changeCardTitle()">
                    <p class="title">TITLE</p>
                    <p>{{card.title}}</p>
                </div>
                <form *ngIf="cardTitle"
                      (ngSubmit)="saveCardTitle()"
                      [formGroup]="titleForm">

                    <div class="container-margin">
                        <md-input-container class=" text-full-width">
                            <input
                                    mdInput
                                    placeholder="TITLE"
                                    formControlName="title">
                        </md-input-container>
                        <div class="btn-row">
                            <button class="btn-row-save"
                                    md-raised-button
                                    type="submit"
                                    [disabled]="titleForm.invalid">
                                Save
                                <md-icon class="save-icon">save</md-icon>
                            </button>
                            <button class="btn-row-clear"
                                    md-button
                                    type="button"
                                    (click)="clearCardTitle()">
                                <md-icon class="clear-icon">clear</md-icon>
                            </button>
                        </div>
                    </div>
                </form>
                <div *ngIf="!cardDescription || !card.description && !card.description==''"
                     class="change-title-description"
                     (click)="changeCardDescription()">
                    <p class="title">DESCRIPTION</p>
                    <p>{{card.description}}</p>
                </div>
                <form *ngIf="cardDescription"
                      (ngSubmit)="saveCardDescription()"
                      [formGroup]="descriptionForm">
                    <div *ngIf="cardDescription"
                         class="container-margin">
                        <md-input-container class=" text-full-width">
                            <textarea mdInput
                                      placeholder="DESCRIPTION"
                                      name="description"
                                      formControlName="description">

                            </textarea>
                        </md-input-container>
                        <div class="btn-row">
                            <button class="btn-row-save"
                                    md-raised-button
                                    type="submit"
                                    [disabled]="descriptionForm.invalid">
                                Save
                                <md-icon class="save-icon">save</md-icon>
                            </button>
                            <button class="btn-row-clear"
                                    md-button
                                    type="button"
                                    (click)="clearCardDescription()">
                                <md-icon class="clear-icon">clear</md-icon>
                            </button>
                        </div>
                    </div>
                </form>
                <div *ngIf="!cardDatesTimes  && !showDates ||  card.startDate"
                     class="change-title-description"
                     (click)="changeCardDatesTimes()">
                    <div class="row">
                        <div class="col-md-3">
                            <p class="title">START DATE</p>
                            <p>{{card.startDate | amDateFormat: 'DD-MM-YYYY'}}</p>
                        </div>
                        <div class="col-md-3">
                            <p class="title">DUE DATE</p>
                            <p>{{card.dueDate | amDateFormat: 'DD-MM-YYYY'}}</p>
                        </div>
                        <div class="col-md">
                            <p class="title">TIME TRACKING</p>
                            <div *ngIf="!estimatedTime == 0">
                                <p>Estimated time : {{estimatedTime}} days</p>
                                <p>Spend time : {{spentTime}} days</p>
                                <p>Remaining time : {{remainingTime}} days</p>
                            </div>
                            <p *ngIf="estimatedTime==0">
                                Select the correct date
                            </p>

                        </div>
                    </div>
                </div>
                <form *ngIf="cardDatesTimes"
                      (ngSubmit)="saveCardDatesTimes()"
                      [formGroup]="dateForm">
                    <div class="row">
                        <div class="col-md">
                            <md2-datepicker class="d-block"
                                            type="date"
                                            min="{{minDate}}"
                                            placeholder="START DATE"
                                            format="DD/MM/YYYY"
                                            name="startDate"
                                            formControlName="startDate">
                            </md2-datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <md2-datepicker class="d-block"
                                            type="date"
                                            min="{{minDate}}"
                                            placeholder="DUE DATE"
                                            format="DD/MM/YYYY"
                                            formControlName="dueDate">
                            </md2-datepicker>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <div class="btn-row">
                                <button class="btn-row-save"
                                        md-raised-button
                                        type="submit"
                                        [disabled]="dateForm.invalid">
                                    Save
                                    <md-icon class="save-icon">save</md-icon>
                                </button>
                                <button class="btn-row-clear"
                                        md-button
                                        type="button"
                                        (click)="clearCardDatesTimes()">
                                    <md-icon class="clear-icon">clear</md-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="checkbox-section">
                    <p class="title">CHECKLIST</p>
                    <todo class="container-margin"
                          [card]="card"></todo>
                </div>

            </div>
            <div class="modal-footer">
                <button md-raised-button
                        aria-label="Close"
                        data-dismiss="modal"
                        type="button"
                        (click)="openDialog()">Delete
                </button>
            </div>
        </div>
    </div>
</div>