.mdcard-style {
  cursor: pointer;
  padding: 15px;
  word-wrap: break-word;
  overflow: hidden;
}

.card-title-input {
  display: block;
  width: 100%;
  border: none;
  &:focus {
    border: none;
    box-shadow: none;
    outline: 0;
  }
}

.btns {
  float: right;

  .btn-save-clear {
    min-width: 0;
    padding: 0 4px 0 4px;
  }
  .save-icon{
    color: #28a400;
  }
  .clear-icon{
    color: #c7d3dd;
  }
}

