<div class="row ">
    <div class="col-md">
        <div class="column-background">
            <div class="column-title">
                <h3>Column 1</h3>
            </div>
            <column-list></column-list>
        </div>
    </div>
    <div class="col-md">
        <div class="column-background">
            <div class="column-title">
                <h3>Column 2</h3>
            </div>
            <column-list></column-list>
        </div>
    </div>
    <div class="col-md">
        <div class="column-background">
            <div class="column-title">
                <h3>Column 3</h3>
            </div>
            <column-list></column-list>
        </div>
    </div>
    <div class="col-md">
        <div class="column-background">
            <div class="column-title">
                <h3>Column 4</h3>
            </div>
            <column-list></column-list>
        </div>
    </div>
    <div class="col-md-1 ">
        <div mdTooltip="Add new column">
            <button class="column-add" md-mini-fab>
                <md-icon>add</md-icon>
            </button>
        </div>
    </div>


</div>

