<div class="board">
    <div class="board-title">

        <div class="row justify-content-between">
            <div class="col-md-4">
                <h2>Board 1</h2>
            </div>
            <div class="col-md-3">
                <div class="board-title-buttons">
                    <button md-button>
                        <md-icon>create</md-icon>
                    </button>
                    <button md-button>
                        <md-icon>delete</md-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <column></column>
</div>

<div class="board">
    <div class="board-title">
        <h2>Board 2</h2>
    </div>
    <column></column>
</div>
